<!DOCTYPE html>
<html>
    <font face = "Helvetica">

    <body>
        <h1> <center> Airfoil as a Service </center> </h1>
        <h2> Home </h2>
        <hr />
    <body>

    <body>
        <h4> <a href="flower"> Click here to view workers via Flower. </a> </h4>
        <h4> <a href="res"> Click here to view airfoil results. </a> </h4>
        <h3> Airfoil Simulator </h3>
        <p> Enter how many mesh files to simulate with: <form method="POST">
            <input name="text">
            <input type="submit">
        </form> </p>
    <body>
<html>
